        <ion-slide-box delegate-handle="card-small-list" active-slide="1" show-pager="false" on-slide-changed="slideHasChanged($index)">

          <ion-slide>    
            <div class="wrapper" ng-controller="warningController">
              <h3> Warning Zone!! </h3>
              <p>"These tasks are urgent and important, finish them quickly"</p>  
              <div class="row">              
                  <card-bookmarked ng-repeat="task in tasks track by $index" ng-if="task.Important && task.Urgent && !task.Completed" ></card-bookmarked>
              </div>    
            </div>
          </ion-slide>
          <ion-slide>
            <div class="wrapper" ng-controller="mainController"> 
              <div class="row">
                <card-bookmarked ng-repeat="task in tasks track by $index" ng-if="task.Important && !task.Urgent && !task.Completed" ></card-bookmarked>
              </div>
            </div>
            <modal-cycle></modal-cycle>            
          </ion-slide>
          <ion-slide>
            <div class="wrapper" ng-controller="attentionController">
              <h3>Attention Zone!!</h3>
              <p>"Tasks here are urgent and non-important, don't make them ruine your important ones"</p> 
              <div class="row">
                <card-bookmarked ng-repeat="task in tasks track by $index" ng-if="!task.Important && task.Urgent && !task.Completed"></card-bookmarked>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>