<div class="card">
	<div class="item card-open-header {{task.Color}}-card">
		<h2 class="no-overload">{{ task.Name }}</h2>
	</div>
	<div class="item card-open-body">
		<h3> Data de Conclusão: {{task.Endate | date:'dd/MM/yyyy'}}</h3>
		<h4>Descrição:</h4>
		<p class="no-overflow">{{ task.Description }}</p>
	</div>
	<div class="list list-inset">
		<div class="item item-divider">
			Lista de Ciclos Concluidos
		</div>
		<div class="item item-button-right" ng-repeat="cycle in task.Cycles track by $index">
			{{ cycle.Name }}
			<button on-tap="openModal(3); getCycleInfo('{{cycle.Name}}', '{{cycle.Note}}');" class="button button-positive">
				<i class="icon ion-information"></i>
			</button>
			<modal-notes></modal-notes>
		</div>
		<button ng-if="!showButtons" class=" button button-full button-energized" on-tap="alertPerformance('{{task.CyclesNeeded}}', task.Cycles.length)"> Verificar Desempenho </button>

	</div>
	<div ng-if="showButtons" class="item card-open-footer">
		<button class="button button-icon icon ion-play button-small" on-tap="openModal(1)"></button>
		<button class="button button-icon icon ion-android-create button-small" on-tap="openModal(2)"></button>
		<a href="#/"><button class="button button-icon icon ion-android-done button-small" on-tap="completeTask()"></button></a>
		<a href="#/"><button class="button button-icon icon ion-log-out button-small"></button></a>
		<a href="#/"><button class="button button-icon icon ion-android-delete button-small" on-tap="deleteTask()" style="float: right;"> </button></a>
	</div>
</div>
