<div>
	<div class="list">
		<label class="item item-input">
			<input type="text" ng-model="task.Name" placeholder="Nome da Tarefa">
		</label>
		<label class="item item-input">
			<textarea ng-model="task.Description" placeholder="Descrição"></textarea>
		</label>
		<label class="item item-input">
			<span>Data de Conclusão:</span> <input type="date" placeholder="mês/dia/ano" ng-model="task.Endate">
		</label>
		<ul class="list">
			<li class="item item-toggle">
				<button class="button button-info-ios button-energized button-clear"><i class="ion-ios-information"></i></button><span class="fix-top-position">Tarefa Importante?</span>
				<label class="toggle fix-position">
					<input ng-model="task.Important" type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item item-toggle">						
				<button class="button button-info-ios button-energized button-clear"><i class="ion-ios-information"></i></button><span class="fix-top-position">Tarefa Urgente?</span>
				<label class="toggle fix-position">
					<input ng-model="task.Urgent" type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
			<li class="item" ng-if="showHint">
				<p class="no-overload" ><span style="color: #3D9788">Tarefas Importantes:</span> É tudo que lhe permite progredir em seus resultados. São suas prioridades para melhoria de seu trabalho, estudo, relações pessoais, qualidade de vida etc. <span style="color: #edc85f"> Tarefas não importantes </span> são geralmente relacionadas a atividades importantes de outros indivíduos.</p>
				<p class="no-overload"><span style="color: #FF6F5C">Tarefas Urgentes:</span> São todas as tarefas que necessitam de imediata atenção, geralmente se caracterizam por atividades que tem sua data final de conclusão próxima.</p>
			</li>
		</ul>	
		<label class="item item-input item-select">
			<div class="input-label">
				<span>Cor da Tarefa:</span>
			</div>
			<select ng-model="task.Color">
				<option selected>Azul</option>
				<option>Verde</option>
				<option>Violeta</option>
				<option>Vermelho</option>
				<option>Laranja</option>
				<option>Amarelo</option>
			</select>
		</label>	
		<label class="item item-input item-select">
			<span>Horas Necessárias:</span> <input type="number" min="0.5" ng-model="task.CyclesNeeded">
		</label>			

	</div>

	<div class="button-group">
		<button class="button-round icon ion-information energized" on-tap="showHint = true"></button>
		<button class="button-round icon ion-plus-round positive" on-tap="saveTask(); refresh();"></button>
		<button class="button-round icon ion-close-round balanced" on-tap="closeModal(2);"></button>
	</div>
</div>